.Event01 {
  margin: 10px;
}

.booking-day {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.booking-time-box {
  flex: 1 0 300px; 
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.booking-time-box p {
  margin: 0;
}

.booking-time-box Link {
  margin-top: 5px;
}
