.header {
  background-color: #333; /* Hintergrundfarbe für den Header */
  color: white; /* Textfarbe für den Header */
  padding: 10px; /* Innenabstand für den Header */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-icon {
  cursor: pointer;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-list li {
  margin-right: 15px;
}

@media (max-width: 768px) {
    .burger-menu {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .burger-icon {
      order: 2;
    }
  
    .menu-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .menu-list li {
      text-align: center;
    }
  
    .content {
      padding-top: 60px;
    }
  
    .burger-menu.show-menu .menu-list {
      display: flex;
    }
  
    .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .bar:nth-child(2) {
      opacity: 0;
    }
  
    .bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  