.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Optional: Fügen Sie Padding hinzu, um den Abstand zwischen den Buttons zu steuern */
  }

  .home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

.price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
}

.event-box {
  width: 45%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.event-row {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
